 /* Small extra styling to make it look nice */
        .header {
            background-color: #f8f9fa; /* Light gray background */
            padding: 10px 20px; /* Some spacing */
        }
        .apple-music-icon {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
        .lead {
            font-weight: 600;
        }

        .load{
            font-weight: lighter;
        }

        .card {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Underline animation effect */
        .nav-link {
            position: relative;
            padding: 0.5rem 1rem;
            transition: color 0.3s ease;
        }

        .underline-animation {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: linear-gradient(90deg, #202020);
            transition: width 0.3s ease;
        }

        .nav-link:hover .underline-animation,
        .nav-link.active .underline-animation {
            width: 100%;
        }

        /* Active state styles */
        .nav-link.active {
            font-weight: 600;
        }

        /* Hover state styles */
        .nav-link:hover {
            color: #202020 !important;
        }
